In [66]:
import pandas as pd
import json

In [67]:
# Load datasets
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [68]:
# Check the data
print("Movies Data")
print(movies.head())

print("\nCredits Data")
print(credits.head())

Movies Data
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bondâ€™s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

Credits Data
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [69]:
# Check shapes
print(f'Movies shape: {movies.shape}')
print(f'Credits shape: {credits.shape}')

Movies shape: (4803, 20)
Credits shape: (4803, 4)

In [70]:
# Undertsand the Columns and Data Types
movies.info()
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [71]:
# Clean and Fix Columns in movies
# Drop Unnecessary Columns

movies = movies.drop(columns=[
    'homepage', 'tagline', 'keywords', 'status', 'original_title',
    'spoken_languages', 'production_companies', 'production_countries'
])

In [72]:
#Check for and drop duplicates 

movies.duplicated(subset='title').sum()

3

In [73]:
#View the duplicates side by side 
duplicates = movies[movies.duplicated(subset='title', keep=False)]
duplicates.sort_values(by='title')

,budget,genres,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count
1359,35000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",268,en,The Dark Knight of Gotham City begins his war ...,44.104469,1989-06-23,411348924,126.0,Batman,7.0,2096
4267,1377800,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 12, ""...",2661,en,The Dynamic Duo faces four super-villains who ...,9.815394,1966-07-30,0,105.0,Batman,6.1,203
3647,0,"[{""id"": 18, ""name"": ""Drama""}]",39269,en,Dennis Hopper is a hard-drinking truck driver ...,0.679351,1980-05-01,0,94.0,Out of the Blue,6.5,17
3693,0,"[{""id"": 18, ""name"": ""Drama""}]",10844,en,Ordinary people find extraordinary courage in ...,0.706355,2006-10-12,0,103.0,Out of the Blue,5.9,18
972,44000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",72710,en,A parasitic alien soul is injected into the bo...,42.933027,2013-03-22,63327201,125.0,The Host,6.0,1817
2877,11000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...",1255,ko,Gang-du is a dim-witted man working at his fat...,27.655270,2006-07-27,88489643,119.0,The Host,6.7,537

In [74]:
#Convert the realease dates from strings to datetime

movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')

In [75]:
#Inspect the results of the data cleaning

movies.head()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             4803 non-null   int64
 1   genres             4803 non-null   object
 2   id                 4803 non-null   int64
 3   original_language  4803 non-null   object
 4   overview           4800 non-null   object
 5   popularity         4803 non-null   float64
 6   release_date       4802 non-null   datetime64[ns]
 7   revenue            4803 non-null   int64
 8   runtime            4801 non-null   float64
 9   title              4803 non-null   object
 10  vote_average       4803 non-null   float64
 11  vote_count         4803 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 450.4+ KB

In [76]:
# Merge the movies df with credits df

tmdb = pd.merge(movies, credits, left_on='id', right_on='movie_id', how='inner')

In [77]:
#Check the shape
print('Merged shape:', tmdb.shape)
tmdb.info()

Merged shape: (4803, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             4803 non-null   int64
 1   genres             4803 non-null   object
 2   id                 4803 non-null   int64
 3   original_language  4803 non-null   object
 4   overview           4800 non-null   object
 5   popularity         4803 non-null   float64
 6   release_date       4802 non-null   datetime64[ns]
 7   revenue            4803 non-null   int64
 8   runtime            4801 non-null   float64
 9   title_x            4803 non-null   object
 10  vote_average       4803 non-null   float64
 11  vote_count         4803 non-null   int64
 12  movie_id           4803 non-null   int64
 13  title_y            4803 non-null   object
 14  cast               4803 non-null   object
 15  crew               4803 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 600.5+ KB

In [78]:
#Remove movie_id column which is identical to id column 
tmdb = tmdb.drop(columns=['movie_id'])
#Drop title_y which is a duplicate title created when merging 
tmdb = tmdb.drop(columns=['title_y'])
#Rename title_x back to title
tmdb = tmdb.rename(columns={'title_x': 'title'})

In [79]:
#Parse crew and cast from strings to Python lists
tmdb['crew'] = tmdb['crew'].apply(lambda x: json.loads(x))
tmdb['cast'] = tmdb['cast'].apply(lambda x: json.loads(x))
tmdb['genres'] = tmdb['genres'].apply(lambda x: json.loads(x))

In [80]:
#Extract director from crew
def get_director(crew_list):
    for person in crew_list:
        if person.get('job') == 'Director':
            return person.get('name')
    return None

tmdb['director'] = tmdb['crew'].apply(get_director)

In [81]:
#Extract top 5 Actors from cast 
def get_top_5_actors(cast_list):
    return [person.get('name') for person in cast_list[:5]]
    
tmdb['top_actors'] = tmdb['cast'].apply(get_top_5_actors)

#Turn it into a readable string
tmdb['top_actors'] = tmdb['top_actors'].apply(lambda x: ', '.join(x))

In [82]:
#Extract the genres
def get_genres(genres_list):
    return [genre.get('name')for genre in genres_list]

tmdb['genres'] = tmdb['genres'].apply(get_genres)

#Convert the list of genre names into a comma-separated string
tmdb['genres'] = tmdb['genres'].apply(lambda x: ", ".join(x))

In [83]:
#Drop orginal cost and crew columns
tmdb = tmdb.drop(columns=['cast', 'crew'])

In [84]:
#Check the results
tmdb[['title', 'director', 'top_actors']].head()

,title,director,top_actors
0,Avatar,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver..."
1,Pirates of the Caribbean: At World's End,Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley, S..."
2,Spectre,Sam Mendes,"Daniel Craig, Christoph Waltz, LÃ©a Seydoux, Ra..."
3,The Dark Knight Rises,Christopher Nolan,"Christian Bale, Michael Caine, Gary Oldman, An..."
4,John Carter,Andrew Stanton,"Taylor Kitsch, Lynn Collins, Samantha Morton, ..."

In [86]:
#Save the file as CSV 
tmdb.to_csv('tmdb.csv', index=False)